body {
    font-size: 0.7em;
    font-family: sans-serif;
    min-width: 720px;
    min-height: 480px;
}

ul.ui-tabs-nav li.ui-state-focus a {
    outline: none !important;
}

textarea.data-area {
    width: 100%;
    min-height: 440px;
}

button.ui-multiselect {
    height: 26px;
    vertical-align: -1px;
}

input.ui-pg-input {
    height: 22px !important;
}

table.ui-jqgrid-btable tr td {
    font-size: 11px;
}

.ui-search-table tr td {
    font-size: 11px;
}

.ui-jqgrid-htable tr th {
    font-size: 12px;
}

.ui-pg-table tr td {
    font-size: 11px;
}

a.ui-jqgrid-titlebar-close {
    display: none;
}