var settings = {

    //  Port auf dem der Webserver und Socket.IO lauscht
    ioListenPort: 8080,
    // Port auf dem der https Webserver lauscht - falls nicht benötigt auskommentiert belassen
    //ioListenPortSsl: 8443,

    // Passwort-Schutz (HTTP Basic Authentication)
    authentication: {
        enabled: false,
        enabledSsl: false,
        user: "admin",
        password: "password"
    },

    // IP-Adresse der Homematic CCU
    ccuIp: "192.168.1.100",
    binrpc: {

        // IP-Adresse des CCU.IO-Servers (wird der CCU mitgeteilt für RPC Init)
        listenIp: "192.168.1.200",

        // Port auf dem der xmlrpc_bin:// Server lauscht
        listenPort: 2101,
        inits: [

            // CUxD Init durchführen
            //{ id: "io_cuxd",    port: 8701 },
            // BidCos-Wired Init durchführen
            //{ id: "io_wired",   port: 2000 },
            // BidCos-RF Init durchführen
            { id: "io_rf",      port: 2001 }
        ],
        checkEvents: {
            enabled: false,
            interval: 60,
            testAfter: 180,
            reinitAfter: 300,
            testTrigger: {
                "io_rf": "BidCos-RF.BidCoS-RF:45.PRESS_SHORT",
                "io_wired": "BidCos-Wired.BidCoS-Wir:45.PRESS_SHORT"
            }
        }
    },
    stringTableLanguage: "de",
    logging: {
        enabled: true,
        file: "devices-variables.log",
        move: true,
        varChangeOnly: true,
        writeInterval: 60
    },
    regahss: {
        // Variablen-Werte von der CCU Pollen
        pollData: true,

        // Virtueller Taster - löst sofortiges Pollen der ReGa Variablen aus
        //pollDataTrigger: "BidCos-RF.BidCoS-RF:50.PRESS_LONG",

        // Interval für Polling in milli-Sekunden
        pollDataInterval: 15000

    },
    datastorePath: __dirname+"/datastore/",
    stats: true,
    statsIntervalMinutes: 15,

    adaptersEnabled: true,
    adapters: {
        yr: {
            enabled: false,
            mode: "periodical",
            period: 120,     // Minutes
            settings: {
                location: "Germany/Baden-W%C3%BCrttemberg/Stuttgart"
            }
        },
        mysql: {
            enabled: false,
            settings: {
                host: "127.0.0.1",
                user: "root",
                pass: "root",
                db: "ccu_io",
                enableEventLog: true,
                logChangesOnly: false
            }
        },
        hue: {
            enabled: false,
            settings: {
                bridge: "172.16.23.149",
                user: "newdeveloper",
                firstId: 90000,
                pollingEnabled: false,
                pollingInterval: 30000,
                lamps: {
                    1: {
                        funcs: ["Licht"]
                    },
                    2: {
                        rooms: ["Wohnzimmer"],
                        funcs: ["Licht"],
                        favs: [10079]

                    },
                    3: {
                        rooms: ["Hobbyraum"],
                        funcs: ["Licht"],
                        favs: [10079]
                    },
                    4: {
                        funcs: ["Licht"]
                    },
                    5: {
                        rooms: ["Wohnzimmer"],
                        funcs: ["Licht"],
                        favs: [10079]
                    }
                }
            }
        },
		ping: {
            enabled: false,
            settings: {
                firstId: 70100,
                pollingInterval: 60000, // ms - Interval must be greater than 5 seconds * number of IPs
                IPs: {
                    "192.168.1.1": {
						name:  "Nexus",
						rooms: ["Hobbyraum"]
                    },
                    "192.168.1.2": {
                        name:  "iPad",
                        rooms: ["Wohnzimmer"]
                    }
                }
            }
        },
        rego: {
            enabled: false,
            settings: {
                firstId: 70200
            }
        },
        pushover: {
            enabled: false,
            settings: {
                user: "xxxxx",
                token: "xxxxx",
                title: "CCU.IO"
            }
        },
        email: {
            enabled: false,
            settings: {
                // Basiert auf dem Modul "nodemailer", verfügbare Optionen siehe https://github.com/andris9/Nodemailer
                transport: "SMTP",
                transportOptions: {
                    service: "Gmail",
                    auth: {
                        user: "xyz@googlemail.com",
                        pass: "xxxxxx"
                    }
                },
                defaults: {
                    from: "test <test@test.com>",
                    to: "abcdef@googlemail.com",
                    subject: "CCU.IO"
                }
            }
        }
    },

    scriptEngineEnabled: false,

    // Längen- und Breitengrad für Astro-Funktion der Script-Engine
    longitude: 9.1833,
    latitude: 48.7667

};

module.exports = settings;